<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>
<h1>Login Success</h1>

<form action="/upload/" method="POST" enctype="multipart/form-data">
        <input type="text" name="user" />
        <div style="position: relative">
            <a>文件上传</a>
<!--           &lt;!&ndash; 通过透明度设置,层叠覆盖,改变原来上传按钮的样式>-->
            <input type="file" name="img" style="opacity: 0;position:absolute;top:0;left: 0;" />
        </div>
        <input type="submit" value="提交" />
    </form>
</body>
</html>